<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1tt_anim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,57},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>1tt_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,322},{97,176}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,40},{97,176}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>1tt_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{97,176}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,40},{97,176}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>1tt_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,146},{97,176}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,40},{97,176}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>1tt_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{97,176}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,40},{97,176}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>1tt_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{113,216}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{113,216}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>2tt_anim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,36},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>2tt_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,466},{91,174}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,42},{91,174}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>2tt_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{91,174}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,42},{91,174}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>2tt_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,375},{91,174}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,42},{91,174}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>2tt_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{91,174}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,42},{91,174}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>2tt_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,113},{119,210}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{119,210}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>3tt_anim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,0},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>3tt_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,250},{125,184}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{125,184}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>3tt_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{125,184}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{125,184}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>3tt_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,125},{125,184}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{125,184}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>3tt_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{125,184}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{125,184}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>3tt_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{125,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{125,212}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>bagel.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,322},{50,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>bagel_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,100},{50,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hotdog.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,422},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{48,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hotdog_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,372},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pizza.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,50},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pizza_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AMAZEME.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f431c161871cb3595817cc57a12c204:abde439205e2d759378685117a5fd2eb:ec912e2a1bc5a3b0d42c71f5ddae5346$</string>
            <key>textureFileName</key>
            <string>AMAZEME.pvr.ccz</string>
        </dict>
    </dict>
</plist>
