<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3072,2048},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>11levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,3072},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>12levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,2048},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>13levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3072,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>14levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>15levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,3072},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>1levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2048},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>2levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>3levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3072,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>4levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>5levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3072},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2048},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>8levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>9levelPuzzleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOXPuzzle15-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f65dec630993a3207f8333d9535e4d4d:1/1$</string>
            <key>textureFileName</key>
            <string>BOXPuzzle15-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
