<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-selected.gif</key>
            <dict>
                <key>frame</key>
                <string>{{180,1030},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>frownyFace.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>levelup-selected.gif</key>
            <dict>
                <key>frame</key>
                <string>{{694,892},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,892},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>menu-selected.gif</key>
            <dict>
                <key>frame</key>
                <string>{{694,714},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,714},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>music-off-selected.gif</key>
            <dict>
                <key>frame</key>
                <string>{{694,536},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>music-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,536},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>music-on-selected.gif</key>
            <dict>
                <key>frame</key>
                <string>{{694,358},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>music-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,358},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>next-selected.gif</key>
            <dict>
                <key>frame</key>
                <string>{{694,180},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,180},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>smileyFace.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tryagain-selected.gif</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>tryagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HUDSPRITES12-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a59a73fbc7bb66db1227904b2fbb4617:b66bf8532bbc4e7d91aa2cdb99096828:969a055440a133485b2717da3cdb0e2e$</string>
            <key>textureFileName</key>
            <string>HUDSPRITES12-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
