<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boundingBox.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,530}}</string>
                <key>sourceSize</key>
                <string>{590,530}</string>
            </dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1018},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,645},{130,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>elephant-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,319},{370,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,315}}</string>
                <key>sourceSize</key>
                <string>{370,315}</string>
            </dict>
            <key>fire-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{315,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,315}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>frigde-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1435},{280,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,315}}</string>
                <key>sourceSize</key>
                <string>{280,315}</string>
            </dict>
            <key>hat-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{416,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,335}}</string>
                <key>sourceSize</key>
                <string>{416,335}</string>
            </dict>
            <key>lion-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,319},{315,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,315}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>mittens-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,339},{350,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,304}}</string>
                <key>sourceSize</key>
                <string>{350,304}</string>
            </dict>
            <key>pants-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,534},{236,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,315}}</string>
                <key>sourceSize</key>
                <string>{236,315}</string>
            </dict>
            <key>pjs-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{185,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,315}}</string>
                <key>sourceSize</key>
                <string>{185,315}</string>
            </dict>
            <key>plant-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,319},{315,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,315}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>raincoat-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{404,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,315}}</string>
                <key>sourceSize</key>
                <string>{404,315}</string>
            </dict>
            <key>shirt-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1435},{298,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,315}}</string>
                <key>sourceSize</key>
                <string>{298,315}</string>
            </dict>
            <key>sneakers-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{416,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,315}}</string>
                <key>sourceSize</key>
                <string>{416,315}</string>
            </dict>
            <key>socks-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{300,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,226}}</string>
                <key>sourceSize</key>
                <string>{300,226}</string>
            </dict>
            <key>sunglasses-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,851},{300,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,165}}</string>
                <key>sourceSize</key>
                <string>{300,165}</string>
            </dict>
            <key>toothpaste-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1752},{300,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,214}}</string>
                <key>sourceSize</key>
                <string>{300,214}</string>
            </dict>
            <key>umbrella-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{321,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,265}}</string>
                <key>sourceSize</key>
                <string>{321,265}</string>
            </dict>
            <key>water-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{315,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,315}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luggageITEMS13-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9e29260ec7b9d17e1cf3b6214124c5e:1/1$</string>
            <key>textureFileName</key>
            <string>luggageITEMS13-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
