<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boundingBox.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,265}}</string>
                <key>sourceSize</key>
                <string>{295,265}</string>
            </dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,514},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,326},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>elephant-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,162},{185,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,158}}</string>
                <key>sourceSize</key>
                <string>{185,158}</string>
            </dict>
            <key>fire-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>frigde-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,724},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>hat-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{208,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,168}}</string>
                <key>sourceSize</key>
                <string>{208,168}</string>
            </dict>
            <key>lion-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,162},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>mittens-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,172},{175,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,152}}</string>
                <key>sourceSize</key>
                <string>{175,152}</string>
            </dict>
            <key>pants-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,269},{118,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,158}}</string>
                <key>sourceSize</key>
                <string>{118,158}</string>
            </dict>
            <key>pjs-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{93,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,158}}</string>
                <key>sourceSize</key>
                <string>{93,158}</string>
            </dict>
            <key>plant-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,162},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>raincoat-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{202,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,158}}</string>
                <key>sourceSize</key>
                <string>{202,158}</string>
            </dict>
            <key>shirt-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{149,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,158}}</string>
                <key>sourceSize</key>
                <string>{149,158}</string>
            </dict>
            <key>sneakers-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{208,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,158}}</string>
                <key>sourceSize</key>
                <string>{208,158}</string>
            </dict>
            <key>socks-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>sunglasses-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,429},{150,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,83}}</string>
                <key>sourceSize</key>
                <string>{150,83}</string>
            </dict>
            <key>toothpaste-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,884},{150,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,107}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>umbrella-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{161,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,133}}</string>
                <key>sourceSize</key>
                <string>{161,133}</string>
            </dict>
            <key>water-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luggageITEMS13-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10a956e862bac07cd17551536b3fbe49:1/1$</string>
            <key>textureFileName</key>
            <string>luggageITEMS13-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
