<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,3000},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2742},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2484},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2226},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3614,1968},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3356,1968},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3098,1968},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,1968},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,1968},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2324,1870},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2066,1870},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1870},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1870},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1870},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1870},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3614,1710},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3356,1710},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3098,1710},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,1710},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,1710},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2324,1612},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2066,1612},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1612},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1612},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1612},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1612},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3614,1452},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3356,1452},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3098,1452},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,1452},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,1452},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2324,1354},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2066,1354},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1354},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1354},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1354},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1354},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3614,1194},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3356,1194},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3098,1194},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,1194},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,1194},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2324,1096},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2066,1096},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1096},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1096},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1096},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1096},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3614,936},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3356,936},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3098,936},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,936},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,936},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2324,838},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>1level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2288,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>1level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>1level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>1level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>2level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,3346},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>2level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2928},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>2level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2510},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>2level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2092},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>3level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1674},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>3level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1256},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>3level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,838},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>3level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>4level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3444,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>4level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3026,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>4level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2608,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>4level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2190,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>5level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>5level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>5level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>5level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>6level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3346},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>6level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2928},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>6level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2510},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>6level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2092},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>7level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>7level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>7level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>7level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>8level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2066,838},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,838},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,838},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,838},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,838},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3738,678},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3480,678},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3222,678},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2964,678},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2706,678},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3738,420},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3480,420},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3222,420},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2964,420},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2706,420},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,3764},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,3764},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,3764},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>puzzleBoundingBox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>puzzleBoundingBox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3764},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PIECESpuzzle15-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bcedd177be688f46b2bc1aba2e474b8:1/1$</string>
            <key>textureFileName</key>
            <string>PIECESpuzzle15-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
