<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1512},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1382},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1252},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1122},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,992},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,992},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,992},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,992},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,992},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,942},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,942},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,942},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,942},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,942},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,942},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,862},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,862},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,862},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,862},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,862},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,812},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,812},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,812},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,812},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,812},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,812},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,732},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>13level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,732},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>13level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,732},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>13level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,732},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>13level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,732},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>13level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,682},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>13level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,682},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>13level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,682},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>13level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,682},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>13level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,682},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>14level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,682},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>14level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,602},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>14level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,602},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>14level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,602},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>14level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,602},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>14level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,602},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>14level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,552},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>14level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,552},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>14level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,552},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>15level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,552},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>15level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,552},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>15level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,552},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>15level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,472},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>15level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,472},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>15level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,472},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>15level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,472},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>15level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,472},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>15level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,422},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>1level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>1level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>1level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>2level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1682},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>2level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1472},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>2level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1262},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>2level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1052},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>3level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,842},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>3level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,632},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>3level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,422},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>3level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>4level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>4level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>4level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>4level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>5level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>5level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>5level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>5level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>6level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>6level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>6level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>6level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>7level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>7level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>7level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>7level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>8level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,422},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>8level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,422},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>8level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,422},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>8level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,422},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>8level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,422},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>8level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,342},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>8level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,342},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>8level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,342},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>8level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,342},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>9level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,342},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>9level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,212},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>9level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,212},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>9level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,212},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>9level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,212},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>9level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,212},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>9level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1892},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>9level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1892},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>9level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1892},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>puzzleBoundingBox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>puzzleBoundingBox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PIECESpuzzle15-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b6980acb438f4c4d615843cd9f9c598:1/1$</string>
            <key>textureFileName</key>
            <string>PIECESpuzzle15-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
