<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{251,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,125}}</string>
                <key>sourceSize</key>
                <string>{251,125}</string>
            </dict>
            <key>traveler1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>traveler1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,0},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>traveler1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>traveler1_frown.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,787},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>traveler1_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,613},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>traveler2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,323},{122,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,183}}</string>
                <key>sourceSize</key>
                <string>{122,183}</string>
            </dict>
            <key>traveler2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,140},{122,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,183}}</string>
                <key>sourceSize</key>
                <string>{122,183}</string>
            </dict>
            <key>traveler2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,323},{122,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,183}}</string>
                <key>sourceSize</key>
                <string>{122,183}</string>
            </dict>
            <key>traveler2_frown.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,506},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>traveler2_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,439},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>traveler3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,236},{96,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,188}}</string>
                <key>sourceSize</key>
                <string>{96,188}</string>
            </dict>
            <key>traveler3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,140},{96,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,188}}</string>
                <key>sourceSize</key>
                <string>{96,188}</string>
            </dict>
            <key>traveler3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,236},{96,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,188}}</string>
                <key>sourceSize</key>
                <string>{96,188}</string>
            </dict>
            <key>traveler3_frown.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,332},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>traveler3_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,265},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StoryTextTraveler3.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6f0596c46bd947aaff568d7206cddff:e5e902b35c1f0e98f665e7d23014fa0a:ba07a4a03be5dd6fc0164e5e42bbe8a0$</string>
            <key>textureFileName</key>
            <string>StoryTextTraveler3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
